[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "diot"
version = "0.1.0"
description = "Python dictionary with dot notation."
authors = [ "pwwang <pwwang@pwwang.com>",]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/pwwang/diot"
repository = "https://github.com/pwwang/diot"

[tool.poetry.dependencies]
python = "^3.6"
inflection = "0.*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"
pyyaml = "*"
toml = "*"
